@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
.header {
    margin-top: 50px;
    margin-bottom: 50px;
    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__logo {
        display: flex;
        align-items: center;
        &__main {
            width: 53px;
            height: 39px;
        }
        &__title {
            color: $main-color;
            font-size: 36px;
            line-height: 58px;
            padding-left: 15px;
        }
    }
}

.menu__list {
    display: flex;
    &__item {
        font-size: 15px;
        color: $main-color;
        @extend %rubic-500;
    }
}

.menu__list__item+.menu__list__item {
    margin-right: 40px;
}

.menu__list__item:first-child {
    margin-right: 40px;
}

.user__nav {
    display: flex;
}

.user__nav__link {
    &__search {
        padding: 19px;
        border-radius: 50%;
        background-color: #edf1f4;
        margin-right: 20px;
    }
    &__heart {
        padding: 19px 40px;
        padding-bottom: 20px;
        border-radius: 50px 0 0 50px;
        background-color: #fcd7b6;
        position: relative;
    }
    &__cart {
        padding: 19px 40px;
        border-radius: 0 50px 50px 0;
        background-color: #fcd7b6;
        margin-right: 20px;
        position: relative;
    }
    &__cart::before {
        content: "";
        background-image: url('../images/icons/palka.svg');
        position: absolute;
        top: 0;
        left: 100px;
    }
    &__menu {
        padding: 16px;
        border-radius: 50%;
        background-color: #a3bbc8;
    }
}

.footer {
    &__logo {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        &__main {
            width: 53px;
            height: 39px;
        }
        &__title {
            color: $main-color;
            font-size: 36px;
            line-height: 58px;
            padding-left: 15px;
        }
    }
}

.footer__top {
    display: flex;
    align-items: baseline;
    &__item__contact {
        width: 200px;
        margin-right: 100px;
    }
    &__item__services {
        width: 130px;
        margin-right: 150px;
    }
    &__item__account {
        width: 100px;
        margin-right: 190px;
    }
    &__item__forma {
        max-width: 270px;
    }
    &__item__title {
        text-transform: uppercase;
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 21px;
        color: #1f2044;
        margin-bottom: 28px;
    }
    &__item__list__item {
        @extend %rubic-400;
        font-size: 14px;
        line-height: 32px;
        color: $main-footer-color;
    }
    &__item__list__item a {
        @extend %rubic-400;
        font-size: 14px;
        line-height: 32px;
        color: $main-footer-color;
    }
    &__item__text {
        @extend %rubic-400;
        font-size: 14px;
        line-height: 24px;
        color: $main-footer-color;
    }
}

.footer__top__form__input {
    background-color: #fde9d4;
    max-width: 140px;
    min-width: 100px;
    border: none;
    padding-top: 14px;
    padding-left: 16px;
    padding-bottom: 13px;
    padding-right: 15px;
}

.footer__top__form__input::placeholder {
    color: #183b58;
    @extend %dmsans-400;
    font-size: 12px;
}

.footer__top__form__button {
    padding: 14px 15px;
    background-color: #94afbd;
    border: none;
    cursor: pointer;
    color: #fff;
    @extend %dmsans-400;
    font-size: 14px;
}

@import 'media';